body {
    /* background-image: url("../assets/Man_Riding_Stationary_Bike.jpg") ; */
    color: black;
}

.headline {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 3vw;
    color: black;
    text-decoration: none;
}

.nav-list__item {
    float: left;
    font-size: 2vh;
    text-decoration: none;
}

.about-me {
    color: black;
}